* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
